<div class="app-wrapper">
    
    <div class="card w-80 bg-base-100 shadow-xl">
        <figure class="px-10 pt-5 max-w-40 self-center">
          <img src="../assets/maestro-virtual-logo.png" alt="Logo" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Maestro Virtual</h2>
          <p class="text-sm">Maestro del curso 'Derecho Humanos en los Procesos Judiciales' para el Poder Judicial del Estado de Nuevo León, México</p>
        </div>
    </div>

    <!-- Area Wrapper -->
    <div class="mockup-browser border bg-base-300 area-wrapper w-full">
        <div class="mockup-browser-toolbar">
          <div class="input text-sm">https://www.pjenl.gob.mx/MaestroVirtual/</div>
        </div>
        
        <div class="area-wrapper-content overflow-y-auto" #areaWrapperContent>
            @for (mensaje of mensajes; track $index) {
                <div class="chat chat-start text-sm" [class.chat-start]="mensaje.role==='assistant'" [class.chat-end]="mensaje.role==='user'">
                    <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                        @if (mensaje.role==='assistant') {
                            <img alt="Foto del asistente" src="../assets/maestro-virtual-logo.png" />
                        } @else {
                            <img alt="Foto del usuario" src="https://random.imagecdn.app/50/50" />
                        }
                    </div>
                    </div>
                    <div class="chat-header text-xs">
                        @if (mensaje.role==='assistant') {
                            {{nombreDelAsistente}}
                        } @else {
                            {{nombreDelUsuario}}
                        }
                        <time class="text-xs opacity-50">{{ getHour(mensaje.tiempo) }}</time>
                    </div>
                    <div class="chat-bubble">
                        @if (mensaje.status==='thinking') {
                            <span class="loading loading-dots loading-xl" [class.show]="loading()" viewBox="0 0 24 24"></span>
                        } @else {
                            {{mensaje.content}}
                        }
                    </div>
                    <div class="chat-footer opacity-50">
                        Delivered
                    </div>
                </div>
            }

        </div>

        <!-- Prompt -->
        <div class="area-prompt">
            <div class="join join-prompt w-full ">
                <input #box
                    type="text" 
                    class="input input-bordered input-primary w-full h-12 join-item text-sm"
                    placeholder="Escribe aqui" 
                    [(value)]="promptDelUsuario"
                    (keyup)="onChangeInput(box.value)"
                    (keyup.enter)="enviarPrompt()" 
                />
                <button class="btn join-item rounded-r-full h-12" (click)="enviarPrompt()">Enviar</button>
            </div>
        </div>
    </div>

  </div>

  <img style="display:none" alt="Foto del usuario" src="https://random.imagecdn.app/50/50" />
  