<section>
  <div class="hero h-96 bg-transparent">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold animate-in slide-in-from-top-9 duration-700">
          Estudia más inteligente con <span class="text-accent">Leo</span>
        </h1>
        <p class="py-6 animate-in fade-in-25 duration-500">
          Tu asistente virtual academico que te ayudara a estudiar de manera más
          eficiente. Disponible 24/7.
        </p>
        <a routerLink="/chat">
          <button class="btn btn-primary animate-in fade-in-5 duration-1000">Empezar a chatear!</button>
        </a>
      </div>
    </div>
  </div>

  <div class="w-auto h-96 flex flex-wrap justify-evenly items-center">
    <div class="card w-64 h-3/4 bg-neutral text-neutral-content hover:bg-slate-700 transition-all animate-in slide-in-from-right-16 duration-700">
      <div class="h-full card-body">
        <h2 class="text-2xl font-bold mb-5">
          Inteligente
        </h2>
        <p>
          Con el poder de GPT-4, Leo puede responder a tus preguntas de manera
          inteligente y eficiente. No más búsquedas en Google.
        </p>
      </div>
    </div>

    <div class="card w-64 h-3/4 bg-neutral text-neutral-content hover:bg-slate-700 transition-all">
      <div class="h-full card-body">
        <h2 class="text-2xl font-bold mb-5">
          Disponibilidad Inmediata
        </h2>
        <p>
          Leo está disponible 24/7 para ayudarte con tus dudas. No más
          esperas por respuestas.
        </p>
      </div>
    </div>

    <div class="card w-64 h-3/4 bg-neutral text-neutral-content hover:bg-slate-700 transition-all animate-in slide-in-from-left-16 duration-700">
      <div class="h-full card-body">
        <h2 class="text-2xl font-bold mb-5">
          Fácil de usar e Intuitivo
        </h2>
        <p>
          Leo estará atento a tus preguntas. Podrás preguntarle
          mediante texto o que escuche tu voz. Tu decides.
        </p>
      </div>
    </div>
  </div>
</section>
